
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 84px;
		display:block;
		width: 100%;
		background: rgba(0,0,0,.3);
		z-index:9;
		text-align:center;
		color: #f2f2f2;
	}
	#header{
		top:0px;
		/*background: transparent;*/
	}
	#footer{
		height: 60px;
		bottom:0px;
		/*display: none;*/
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}
	
/*swiper*/
 .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*reset swiper*/
.swiper-pagination-bullet {
	width:30px;
	height: 30px;
	background-color: #578fe6;
	opacity: .6;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: #5786E6;
}
/*section0*/
.section0:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.5);
}
.video-box {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
}
.video-box>video{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.section0>img {
	display: block;
	width: 100%;
	opacity: 0;
	z-index: -1;
	position: absolute;
}
.title {
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translateX(-50%);
	font-size: 50px;
	color: #f7f7f7;
	font-weight: bold;
	z-index: 2;
	opacity: 1;
}
.xdbd-btn {
	display: block;
	width: 130px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 44%;
	margin-top: 40px;
	transform: translateX(-50%);
	color: #F7F7F7;
	opacity: 1;
	z-index: 2;
	font-size: 14px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 40px;
}
/*section1*/
.main {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	font-weight: 400;
    font-family: PingFang SC,Microsoft YaHei,微软雅黑,Arial,sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    color: #838383;
}
.business h2 {
    font-size: 24px;
    color: #666;
    text-align: center;
    padding: 90px 0 70px;
    font-weight: 500;
}
.business>ul {
    zoom: 1;
    text-align: justify;
    text-align-last: justify;
    line-height: 0;
    width: auto;
    margin: 0;
}
.business>ul>li .detail.faceid ul:after {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: "";
    vertical-align: top;
}
.business>ul>li .detail ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
.business>ul>li {
    display: inline-block;
    width: 256px;
    height: 464px;
    text-align: center;
    text-align-last: auto;
    position: relative;
    margin: 0;
    vertical-align: top;
}
.business>ul>li .intro {
    display: block;
    position: relative;
    text-align: center;
    height: 100%;
    opacity: 1;
    filter:Alpha(Opacity=100);
    transition: all .3s ease 0s;
    -ms-box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
    -o-box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
    box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
}
.business>ul>li .intro img {
    width: 100%;
}
.business>ul>li .intro h3 {
    font-size: 18px;
    color: #2d2d2d;
    line-height: 44px;
    padding-top: 20px;
}
.business>ul>li .intro p {
    font-size: 14px;
    color: #838383;
    line-height: 26px;
}
.business>ul>li .intro .company {
    zoom: 1;
    position: absolute;
    left: 0;
    bottom: 5px;
}
.business>ul>li .intro .company img {
    display: inline-block;
    width: 102px;
    margin: 0 7px 12px;
}
.business>ul>li .intro .company:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.business>ul>li .detail.faceid {
    left: 100%;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    background-color: yellowgreen;
}
.business>ul>li .detail .detail-header {
    padding: 46px 30px 0;
    color: #fff;
    /*width: 100%;*/
    height: 198px;
}
.business>ul>li .detail.faceid .detail-header {
	background: url(https://assets.megvii.com/static/images/home/business/business_faceid_pop.jpg) no-repeat 0 0;
}
.business>ul>li .detail.facepp .detail-header {
	background: url(https://assets.megvii.com/static/images/home/business/business_facepp_pop.jpg) no-repeat 0 0;
}
.business>ul>li .detail.cases .detail-header {
	background: url(https://assets.megvii.com/static/images/home/business/business_cases_pop.jpg) no-repeat 0 0;
}
.home_business>ul>li .detail.ssn .detail-header {
	background: url(https://assets.megvii.com/static/images/home/business/business_ssn_pop.jpg) no-repeat 0 0;
}
.business>ul>li .detail .detail-header h3 {
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: auto;
    text-align: left;
    line-height: inherit;
    position: relative;
}
.business>ul>li .detail .detail-header h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.business>ul>li .detail .detail-header p {
    line-height: 24px;
    text-align: left;
    font-size: 14px;
    color: #838383;
    margin-top: 20px;
}
.business>ul>li .detail ul {
    text-align: justify;
    text-align-last: justify;
    line-height: 0;
    padding: 36px 28px;
    /*width: 100%;*/
}
.business>ul>li .detail ul li {
    text-align-last: auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.business>ul>li .detail.faceid .icon1, .business>ul>li .detail i {
	width: 44px;
    height: 44px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: bottom;
}
.business>ul>li .detail.faceid .icon1 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_faceid_icon1.png);
}
.business>ul>li .detail.faceid .icon2 {
    width: 43px;
    background-image: url(https://assets.megvii.com/static/images/home/business/business_faceid_icon2.png);
}
.business>ul>li .detail.faceid .icon3 {
    width: 51px;
    background-image: url(https://assets.megvii.com/static/images/home/business/business_faceid_icon3.png);
}
.business>ul>li .detail.faceid .icon4 {
    width: 47px;
    background-image: url(https://assets.megvii.com/static/images/home/business/business_faceid_icon4.png);
}
.business>ul>li .detail.facepp .icon1 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_facepp_icon1.png);
}
.business>ul>li .detail.facepp .icon2 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_facepp_icon2.png);
}
.business>ul>li .detail.facepp .icon3 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_facepp_icon3.png);
}
.business>ul>li .detail.facepp .icon4 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_facepp_icon4.png);
}
.business>ul>li .detail.cases .icon1 {
    width: 35px;
    background-image: url(https://assets.megvii.com/static/images/home/business/business_cases_icon1.png);
}
.business>ul>li .detail.cases .icon2 {
    width: 49px;
    background-image: url(https://assets.megvii.com/static/images/home/business/business_cases_icon2.png);
}
.business>ul>li .detail.cases .icon3 {
    width: 44px;
    background-image: url(https://assets.megvii.com/static/images/home/business/business_cases_icon3.png);
}
.business>ul>li .detail.cases .icon4 {
    width: 56px;
    background-image: url(https://assets.megvii.com/static/images/home/business/business_cases_icon4.png);
}
.business>ul>li .detail.ssn .icon1 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_ssn_icon1.png);
}
.business>ul>li .detail.ssn .icon2 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_ssn_icon2.png);
}
.business>ul>li .detail.ssn .icon3 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_ssn_icon3.png);
}
.business>ul>li .detail.ssn .icon4 {
    background-image: url(https://assets.megvii.com/static/images/home/business/business_ssn_icon4.png);
}
.business>ul>li .detail.facepp ul li i {
    margin-bottom: 10px;
}
.business>ul>li .detail ul li h4 {
    font-size: 14px;
    color: #7b7b7b;
    line-height: 34px;
}
.business>ul>li .detail ul li p {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #7b7b7b;
}
.business>ul>li .detail.faceid ul li p {
    font-size: 12px;
    text-align: center;
}
.business>ul>li .detail .detail-using {
    text-align: center;
    padding: 0 28px;
    display: block;
    /*width: 100%;*/
}
.business>ul>li .detail .detail-using p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 14px;
    color: #2d2d2d;
}
.business>ul>li .detail .detail-using img {
    margin: 0 3px;
}
.business>ul>li .detail .detail-link {
    display: block;
    text-align: right;
    font-size: 14px;
    padding: 20px 28px 0 0;
    /*width: 100%;*/
}
.business>ul>li .detail .detail-link a {
    color: #1199df;
    padding: 10px 0 0;
    margin: 0;
    width: auto;
    font-size: 14px;
    border: none;
    display: inline;
    text-align: left;
}
.business>ul>li .detail .detail-link span {
    color: #767777;
    margin-left: 10px;
}
.business>ul>li .detail {
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
    margin-left: -253px;
    margin-top: -300px;
    width: 505px;
    height: 600px;
    margin: -300px 0 0 -253px;
    z-index: -1;
    top: 50%;
    left: 50%;
    background-color: #fff;
    -ms-box-shadow: 0 2px 14px 4px rgba(14,5,10,.15);
    -o-box-shadow: 0 2px 14px 4px rgba(14,5,10,.15);
    box-shadow: 0 2px 14px 4px rgba(14,5,10,.15);
    transition: all .3s ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.business>ul>li .detail.facepp .detail-header {
    color: #fff;
    width: 100%;
    background: url(https://assets.megvii.com/static/images/home/business/business_facepp_pop.jpg) no-repeat 0 0;
    height: 198px;
    padding: 46px 30px 0;
}
/*section2*/


/*section3*/

.chart h2 {
	font-size: 24px;
    color: #666;
    text-align: center;
    padding: 90px 0 10px;
    font-weight: 500;
}
.chart>p {
	width: 900px;
	margin: 0 auto;
	font-size: 16px;
	color: #5f6a72;
	line-height: 2;
	margin-bottom: 10px;
}
.chart-video>video {
	width: 100%;
}

/*section4*/

/*header*/
.head-bar {
	position: relative;
}
.head-bar>a {
	position: absolute;
	width: 164px;
	height: 40px;
	left: 0;
	top: 22px;
}
.head-bar>ul {
	position: absolute;
	right: 0;
	height: 50px;
	top: 16px;
}
.head-bar>ul>li {
	float: left;
}
.head-bar>ul>li+li {
	margin-left: 10px;
}
.head-bar>ul>li a {
    padding: 0;
    width: 92px;
    text-align: center;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-indent: 0;
    color: #fff;
    font-size: 16px;
    display: block;
    background-color: transparent;
    transition: all .3s ease 0s;
    white-space: nowrap;
}
/*footer*/
.foot-bar {
	padding-top: 10px;
}
.foot-bar>p {
	font-size: 12px;
	color:#999 ;
	line-height: 1.75;
}
