
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 84px;
		width: 100%;
		background: rgba(0,0,0,.3);
		z-index:9;
		text-align:center;
		color: #f2f2f2;
	}
	#header{
		top:0px;
		background:transparent;
		min-width: 1300px;
		/*background: transparent;*/
	}
	
	/*#header.header{*/
		/*background:#282830;*/
	/*}*/
	#footer{
		height: 60px;
		bottom:0px;
		/*display: none;*/
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}
	.hidden{
		display:none;
	}
/*swiper*/
 .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
	 background: url("../images/index/background.webp") no-repeat;
	 background-size: cover;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*reset swiper*/
.swiper-pagination-bullet {
	width:30px;
	height: 30px;
	background-color: #578fe6;
	opacity: .6;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: #5786E6;
}


	/*dynamic*/
.dynamic{
	position: relative;
}
.dynamic .dny_1,
.dynamic .dny_2{
	position: relative;
}
	.dynamic .dny_1 .dny_1_outermost{
		width: 469px;
		height: 263px;
		background-image: url("../images/index/halo_2.png");
		position: relative;
		margin: 5% auto 0;
	}
		.dynamic .dny_1 .dny_1_outermost:after{
			content: '';
			width: 124px;
			height: 120px;
			background-image: url("../images/index/brain.png");
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -123px 0 0 -83px;
			animation: brain 3s ease-out infinite;
		}
		/*	大脑上下动画  */
		@-webkit-keyframes brain{
			0%{
				top: 50%;
			}
			50%{
				top: 40%;
			}
			100%{
				top: 50%;
			}
		}




	.dynamic .dny_1 .dny_1_outermost .dny_1_outermost_middle{
		width: 280px;
		height: 152px;
		background-image: url("../images/index/halo_1.png");
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -76px 0 0 -140px;
	}
		.dynamic .dny_1 .dny_1_outermost .dny_1_outermost_middle:after{
			content: '';
			width: 98px;
			height: 60px;
			background-image: url("../images/index/shadow.png");
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -30px 0 0 -49px;
		}



	.dynamic .dny_2 .dny_2_back{
		width: 1174px;
		height: 352px;
		background-image: url("../images/index/resources.png");
		margin: 30px auto 0;
	}
	.dynamic .dny_2 .dny_2_all{
		position: absolute;
	}
	.dynamic .dny_2 .dny_2_big{
		width: 49px;
		height: 44px;
		background-image: url("../images/index/box_big.png");
	}
		.dynamic .dny_2 .dny_2_big:after{
			width: 8px;
			height: 180px;
			background-image: url("../images/index/long_tail.png");
		}
	.dynamic .dny_2 .dny_2_in{
		width: 41px;
		height: 38px;
		background-image: url("../images/index/box_in.png");
	}
		.dynamic .dny_2 .dny_2_in:after{
			width: 8px;
			height: 180px;
			background: url("../images/index/modile_till.png") no-repeat;
		}
	.dynamic .dny_2 .dny_2_small{
		width: 32px;
		height: 28px;
		background-image: url("../images/index/box_small.png");
	}
		.dynamic .dny_2 .dny_2_small:after{
			width: 8px;
			height: 63px;
			background: url("../images/index/short_tail.png") no-repeat;
		}
		.dynamic .dny_2 .dny_2_small:after,
		.dynamic .dny_2 .dny_2_in:after,
		.dynamic .dny_2 .dny_2_big:after{
			content: '';
			position: absolute;
			left: 42%;
			top: 70%;
			z-index: -1;
		}
	.dynamic .dny_2 .dny_2_1{
		left: 30%;
		top: 0;
	}
	.dynamic .dny_2 .dny_2_2{
		left: 15%;
		top: -34%;
	}
	.dynamic .dny_2 .dny_2_3{
		left: 61.5%;
		top: 4%;
	}
	.dynamic .dny_2 .dny_2_4{
		left: 78.5%;
		top: -27%;
	}
	.dynamic .dny_2 .dny_2_5{
		left: 42.3%;
		top: -18%;
	}

.swiper-horizontal-button-prev{
	width: 30px;
	left: 8%;
	background: url("../images/index/swiper_button_002.png") no-repeat 0 50%;
}
.swiper-horizontal-button-next{
	right: 8%;
	width: 30px;
	background: url("../images/index/swiper_button_002.png") no-repeat 100% 50%;
}


/*section0*/
.section0:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.5);
}
.video-box {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
}
.video-box>video{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.section0>img {
	display: block;
	width: 100%;
	opacity: 0;
	z-index: -1;
	position: absolute;
}
.title {
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translateX(-50%);
	font-size: 50px;
	color: #f7f7f7;
	font-weight: bold;
	z-index: 2;
	opacity: 1;
}
.xdbd-btn {
	display: block;
	width: 130px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 44%;
	margin-top: 40px;
	transform: translateX(-50%);
	color: #F7F7F7;
	opacity: 1;
	z-index: 2;
	font-size: 14px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 40px;
}
/*section1*/
.main {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	font-weight: 400;
    font-family: PingFang SC,Microsoft YaHei,微软雅黑,Arial,sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    color: #838383;
}
.business h2 {
	font-size: 28px;
	color: #fff;
	text-align: center;
	padding: 150px 0 0;
	font-weight: 500;
}
.business>div>p{
	color: #92bccf;
	font-size: 14px;
	padding:10px 0 70px;
}
.business>ul {
    zoom: 1;
    text-align: justify;
    text-align-last: justify;
    line-height: 0;
    width: auto;
    margin: 0;
}
.business>ul>li .detail.faceid ul:after {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: "";
    vertical-align: top;
}
.business>ul>li .detail ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
.business>ul>li {
    display: inline-block;
    width: 256px;
    height: 464px;
    text-align: center;
    text-align-last: auto;
    position: relative;
    margin: 0;
    vertical-align: top;
}
.business>ul>li .intro {
    display: block;
    position: relative;
    text-align: center;
    height: 100%;
    filter:Alpha(Opacity=100);
    transition: all .3s ease 0s;
    -ms-box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
    -o-box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
    box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
	border-radius: 5px;
	overflow: hidden;
	background-color: rgba(1,137,202,.68);
	color: #fff;
	/*opacity: .68;*/
}
.business>ul>li .intro img {
    width: 100%;
}
.business .img-inner {
	width: 100%;
	height: 197px;
	overflow: hidden;
}
.business>ul>li .img-inner img:hover{
	transform: scale(1.2);
    transition: transform 0.3s ease-out 0s;
}
.business>ul>li .intro h3 {
	font-size: 26px;
	line-height: 44px;
	margin: 35px 0 30px 0;
	color: #fff;
}
.business>ul>li .intro p {
    font-size: 16px;
    line-height: 26px;
    width: 88%;
	text-indent: 2em;
	text-align: left;
}
.business .intro .icon-s {
	width: 31.25%;
	position: absolute;
	top: 98px;
	left: 50%;
	transform: translate(-50%,-50%);
}
.business-end{
	color: #92bccf;
	font-size: 16px;
	position: absolute;
	bottom: 7%;
	left: 0;
	width: 100%;
}
.business-end a{
	color: #fff;
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;
	margin-left: 20px;
}
/*section2*/
.graphics{
	position: relative;
	padding-top: 20%;
}
.wave{
	/*position: absolute;*/
}
.trajectory{
	position: absolute;
	top: 10%;
	left: 11%;
}
/*section3*/
.chart-background{
	width: 1182px;
	height: 643px;
	margin: 0 auto;
	background: url("../images/index/frame.png") no-repeat;
	position: relative;
}
.chart h2 {
    text-align: center;
    padding: 110px 0 10px;
    font-weight: 500;
	font-size: 28px;
	color: #fff;
}
.chart>.tit {
	width: 900px;
	margin: 0 auto -20px;
	font-size: 16px;
	color: #92bccf;
	line-height: 2;
}
.chart-video {
	width: 1025px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 47.5%;
	transform: translate(-50%,-50%);
	transition-duration: .6s;
}
.chart-video>video {
	width: 100%;
	height: 100%;
}
.enlarge{
	background: url("../images/index/enlarge.png") no-repeat;
	width: 44px;
	height: 44px;
	left: 50%;
	bottom: 0;
	transform: translateY(-50%);
	position: absolute;
	cursor: pointer;
}

/*section4*/

/*header*/
.head-bar {
	position: relative;
}
.logo{
	overflow: hidden;
	position: absolute;
	width: 249px;
	height: 60px;
	left: 80px;
	top: 22px;
	cursor: pointer;
	z-index: 10;
}
.logo img{
	float: left;
}
.logo img:last-child{
	margin-left: 40px;
}
.try-out{
	position: absolute;
	height: 60px;
	right: 5%;
	top: 11px;
	min-width: 240px;
}
.try-out a{
	color: #fff;
	font-size: 18px;
}
.try-out .try-btn{
	width: 180px;
	height: 60px;
	line-height: 60px;
	border-radius: 60px;
	background-color: #0189ca;
	text-align: center;
	display: inline-block;
	margin-left: 40px;
}
.head-bar>.main-parent {
	position: absolute;
	left: 50%;
	height: 50px;
	width: 722px;
	top: 16px;
	transform: translateX(-50%);
}
.head-bar>.main-parent>li {
	float: left;
	position: relative;
}
.head-bar>.main-parent>li+li {
	margin-left: 10px;
}
.head-bar>.main-parent>li>a {
    padding: 0;
    width: 112px;
    text-align: center;
    /* padding: 0 10px; */
    height: 50px;
    line-height: 50px;
    text-indent: 0;
    color: #fff;
    font-size: 16px;
    display: block;
    background-color: transparent;
    transition: all .3s ease 0s;
    white-space: nowrap;
}
.head-bar>.main-parent>li>a:hover{
	border-bottom: 4px solid #578fe6;
	color: #459dff;
}
.head-bar>.main-parent>li>.main-list{
	position: absolute;
	top: 53px;
	left: 0;
	width: 112px;
	background: #000;
	padding-bottom: 28px;
	display: none;
}
.head-bar>.main-parent>li>.main-list>li>a{
	display: inline-block;
	width: 112px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-top: 22px;
}
.head-bar>.main-parent>li>.main-list>li>a:hover{
	color: #459dff;
	border: none;
}
/*footer*/
.foot-bar {
	padding-top: 10px;
}
.foot-bar>p {
	font-size: 12px;
	color:#999 ;
	line-height: 1.75;
}
/* about */
#about{
	width: 1204px;
	height: 816px;
	margin: 84px auto 0;
}
#case-show,#product,#scheme{
	width: 1204px;
	margin: 84px auto 0;
}
#about h5{
	height: 54px;
	font-size: 14px;
	color: #333;
	line-height: 54px;
}
#about h5 span{
	color: #666;
}
#about .about-list{
	position: relative;
}
#about .about-list .about-main{
	display: inline-block;
	width: 180px;
	background: #f8fafc;
	margin-right: 24px;
}
#about .about-list .about-main li{
	display: inline-block;
	height: 60px;
	width: 176px;
	font-size: 16px;
	color: #a2a2a2;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
#about .about-list .about-main li:hover{
	border-left: 4px solid #459dff;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
#about .about-list .about-main li.active{
	color: #459dff;
	border-left: 4px solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
#about .about-list .about-main li i{
	height: 1px;
	display: block;
	background: #e6e6e6;
	width: 140px;
	margin: 0 20px;
}
#about .about-list>div{
	position: absolute;
	left: 204px;
	top: 0;
	width: 1000px;
	height: 746px;
	background: #f8fafc;
	display: none;
}
#about .about-list>div>img{
	width: 1000px;
	height: 140px;
	border: none;
}
#about .about-list>div h5{
	margin: 24px 0 28px 40px;
	font-size: 28px;
	font-weight: 700;
}
#about .about-list>div p.about-aboutUS{
	line-height: 40px;
	font-size: 16px;
	color: #989898;
	margin: 0 40px;
	/* text-indent: 2em; */
}
#about .about-list>div p.about-address{
	font-size: 18px;
	margin: 30px 40px 24px;
}
#about .about-list>div p.about-culture{
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin: 47px 0;
}
#about .about-list>div>.about-aptitude{
	width: 230px;
	margin: 35px 135px;
	height: 230px;
	float: left;
}
#about .about-list>div>.about-aptitude>dt{
	width: 230px;
	height: 170px;
}
#about .about-list>div>.about-aptitude>dt>img{
	width: 100%;
	height: 100%;
	border: none;
}
#about .about-list>div>.about-aptitude>dd{
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 77px;
}
#about .about-list>div.on{
	display: block;
}
.about-footer{
	margin-bottom: 20px;
}
.about-footer>p{
	font-size: 12px;
	color:#999 ;
	line-height: 1.75;
	text-align: center;
}
/* 联系我们 */
.contact{
	position: relative;
	z-index: 999999;
	/* display: none; */
}
.contact .contact-block{
	position: fixed;
	height: 540px;
	width: 360px;
	background: #fff;
	overflow: hidden;
	z-index: 2;
	border-radius: 2px;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	bottom: -545px;
	right: 60px;
}
.contact .contact-block .contact-btn{
	position: absolute;
	text-indent: -9999px;
	background: url('../images/left_menuForOutLook.png') no-repeat 7px -13px;
	opacity: .6;
	height: 30px;
	width: 30px;
	right: 10px;
	top: 3px;
	overflow: visible;
}
/* 产品页 */
.product-head{
	height: 350px;
	width: 100%;
	background: url(../../images/product-bg.jpg) no-repeat;
	background-size: 100% 115%;
	margin-top: 84px;
	color: #fff;
    line-height: 350px;
    text-align: center;
    font-size: 40px;
}
.product-list{
	height: 230px;
	width: 100%;
	margin: 20px 0 10px;
	background: #fff;
	overflow: hidden;
}
.product-list dt{
	width: 230px;
	height: 170px;
	float: left;
	margin: 30px 30px 30px 20px;
}
.product-list dt img{
	width: 100%;
	height: 100%;
	border: none;
}
.product-list dd{
	float: left;
	margin: 30px 0;
	width: 880px;
}
.product-list dd p{
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 20px;
}
.product-list dd span{
	line-height: 40px;
    font-size: 16px;
    color: #989898;
}
/* 方案页 */
.scheme-head{
	height: 350px;
	width: 100%;
	margin-top: 84px;
	background: url(../../images/scheme-bg.jpg) no-repeat;
	background-size: 100% 110%;
	color: #fff;
    line-height: 350px;
    text-align: center;
    font-size: 40px;
}
/* 案例页 */
.case-show-head{
	height: 350px;
	width: 100%;
	margin-top: 82px;
	background: url(../../images/caseShow-bg.jpg) no-repeat;
	background-size: 100% 112%;
	color: #fff;
    line-height: 350px;
    text-align: center;
    font-size: 40px;
}
.case-show-list{
	width: 600px;
	height: 300px;
	float: left;
}
.case-show-list dt{
	width: 400px;
	height: 200px;
	margin: 0 100px;
}
.case-show-list dt img{
	width: 100%;
	height: 100%;
	border: none;
}
.case-show-list dd{
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

