
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 84px;
		width: 100%;
		background: rgba(0,0,0,.3);
		z-index:9;
		text-align:center;
		color: #f2f2f2;
	}
	#header{
		top:0px;
		background:transparent;
		/*background: transparent;*/
	}
	
	#header.header{
		background:#282830;
	}
	#footer{
		height: 60px;
		bottom:0px;
		/*display: none;*/
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}
	.hidden{
		display:none;
	}
/*swiper*/
 .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*reset swiper*/
.swiper-pagination-bullet {
	width:30px;
	height: 30px;
	background-color: #578fe6;
	opacity: .6;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: #5786E6;
}
/*section0*/
.section0:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.5);
}
.video-box {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
}
.video-box>video{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.section0>img {
	display: block;
	width: 100%;
	opacity: 0;
	z-index: -1;
	position: absolute;
}
.title {
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translateX(-50%);
	font-size: 50px;
	color: #f7f7f7;
	font-weight: bold;
	z-index: 2;
	opacity: 1;
}
.xdbd-btn {
	display: block;
	width: 130px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 44%;
	margin-top: 40px;
	transform: translateX(-50%);
	color: #F7F7F7;
	opacity: 1;
	z-index: 2;
	font-size: 14px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 40px;
}
/*section1*/
.main {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	font-weight: 400;
    font-family: PingFang SC,Microsoft YaHei,微软雅黑,Arial,sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    color: #838383;
}
.business h2 {
    font-size: 24px;
    color: #666;
    text-align: center;
    padding: 175px 0 70px;
    font-weight: 500;
}
.business>ul {
    zoom: 1;
    text-align: justify;
    text-align-last: justify;
    line-height: 0;
    width: auto;
    margin: 0;
}
.business>ul>li .detail.faceid ul:after {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: "";
    vertical-align: top;
}
.business>ul>li .detail ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
.business>ul>li {
    display: inline-block;
    width: 256px;
    height: 464px;
    text-align: center;
    text-align-last: auto;
    position: relative;
    margin: 0;
    vertical-align: top;
}
.business>ul>li .intro {
    display: block;
    position: relative;
    text-align: center;
    height: 100%;
    opacity: 1;
    filter:Alpha(Opacity=100);
    transition: all .3s ease 0s;
    -ms-box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
    -o-box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
    box-shadow: 0 2px 30px 4px rgba(14,5,10,.15);
}
.business>ul>li .intro img {
    width: 100%;
}
.business .img-inner {
	width: 100%;
	height: 197px;
	overflow: hidden;
}
.business>ul>li .intro img:hover{
	transform: scale(1.2);
    transition: transform 0.3s ease-out 0s;
}
.business>ul>li .intro h3 {
    font-size: 18px;
    color: #2d2d2d;
    line-height: 44px;
    padding-top: 10px;
}
.business>ul>li .intro p {
    font-size: 14px;
    color: #838383;
    line-height: 26px;
    width: 88%;
}
.business .intro .icon-s {
	width: 22%;
	margin-top: 20px;
}
/*section2*/


/*section3*/

.chart h2 {
	font-size: 24px;
    color: #666;
    text-align: center;
    padding: 90px 0 10px;
    font-weight: 500;
}
.chart>p {
	width: 900px;
	margin: 0 auto;
	font-size: 16px;
	color: #5f6a72;
	line-height: 2;
	margin-bottom: 10px;
}
.chart-video {
	border: 1px solid #f0f0f0;
}
.chart-video>video {
	width: 100%;
}

/*section4*/

/*header*/
.head-bar {
	position: relative;
}
.head-bar>a {
	position: absolute;
	width: 164px;
	height: 40px;
	left: 0;
	top: 22px;
}
.head-bar>ul {
	position: absolute;
	right: 0;
	height: 50px;
	top: 16px;
}
.head-bar>ul>li {
	float: left;
}
.head-bar>ul>li+li {
	margin-left: 10px;
}
.head-bar>ul>li a {
    padding: 0;
    width: 92px;
    text-align: center;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-indent: 0;
    color: #fff;
    font-size: 16px;
    display: block;
    background-color: transparent;
    transition: all .3s ease 0s;
    white-space: nowrap;
}
/*footer*/
.foot-bar {
	padding-top: 10px;
}
.foot-bar>p {
	font-size: 12px;
	color:#999 ;
	line-height: 1.75;
}
