.set-param-box .same-resource{min-height: 40%;max-height: 40%;border-top:none;}
.set-param-box .set-param-head{padding:6px 10px 0 16px;border-top: 1px solid #D9D9D9;}
.same-resource ul{min-height: 0;}
.data-source-box>select{height:auto;line-height:1;font-size: 14px;}

.dimension-box,.metric-box{overflow: auto;position: relative;height: 200px;}


/*滚动条*/
.mCSB_scrollTools{width: 6px;}
.mCSB_inside > .mCSB_container{margin-right:8px;}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{background-color: rgba(150,150,150,0.15);}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: rgba(0,0,0,0.75);}