v\:group,v\:rect,v\:imagedata,v\:oval,v\:line,v\:polyline,v\:stroke,v\:textbox { display:inline-block;background:transparent }
::-ms-clear,::-ms-reveal{display:none;}
.GooFlow{
	border:#ddd 1px solid;
	-moz-user-select:none;-webkit-user-select:none;border-radius:4px;color:#333
}
.GooFlow,.GooFlow *{
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	font-size:14px;line-height:1.42857143;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, sans-serif;
}
.GooFlow:before,.GooFlow:after,.GooFlow *:before,.GooFlow *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.GooFlow i{
	display:block;width:18px;height:18px;overflow:hidden;font-size:18px;color:#777;text-align:center;margin:0 auto;
	filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;text-shadow:0.5px 0 #fff,0 0.5px #fff;line-height:1;
}
.GooFlow_head{clear:both;height:34px;border-bottom:#00B4E1 2px solid;margin-left:-1px;padding-top: 3px}
.GooFlow_head label{
	font-weight:bold;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:27px;padding:3px;width:176px;
	background:#00B4E1;float:left;color:#fff;border-radius:3px 0 0 0;overflow:hidden;margin:-1px 4px 0 0;text-align:center;
}
.GooFlow_head_btn{display:block;border:0;height:26px;width:30px;cursor:default;padding:4px 6px;margin:0 2px;float:left;outline:none;blr:expression(this.onFocus=this.blur());text-decoration:none;cursor:pointer}
.GooFlow_head_btn i{display:inline-block;overflow:hidden;width:18px;height:18px;border:0;font-size:16px;line-height:18px;}
.GooFlow_head_btn:hover{background:#fff;padding:4px 5px;border-left:#ddd 1px solid;border-right:#ddd 1px solid}
.GooFlow_tool{float:left;clear:left;border-right:#ddd 1px solid}
.GooFlow_tool_div{width:46px;padding:5px 0}

.GooFlow_tool span{height:0;overflow:hidden;border-top:#ddd 1px solid;border-bottom:#fff 1px solid;margin:0 2px;clear:both;display:block;}
.GooFlow_tool_btn{display:block;border:0;height:30px;width:38px;cursor:default;margin: 2px 3px;outline:none;blr:expression(this.onFocus=this.blur());color:#777;text-decoration:none;cursor:pointer}
.GooFlow_tool_btn i{display:block;overflow:hidden;width:100%;height:100%;border:0;}
.GooFlow_tool_btn:hover{border:#e6e9f1 1px solid;background:#fcfcfc;border-radius:2px}
.GooFlow_tool_btndown{
	cursor:default;outline:none;blr:expression(this.onFocus=this.blur());height:30px;width:38px;margin:2px 3px;border-radius:2px;
	background:#f2f2f2;/*#FFBF00*/display:block;text-decoration:none;border: 1px solid #e6e9f1;
    /*filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;*/
}
.GooFlow_tool_btndown i{display:block;overflow:hidden;width:100%;height:100%;position:relative}

.GooFlow_work{float:right;margin:0 3px 3px 0;position:relative;overflow:auto;background-color:#fff;}
.GooFlow_work .GooFlow_work_inner{
	background:url(../../images//gooflow_blank.gif)\0;
	background: -webkit-linear-gradient(top, transparent 11px, #e3e3e3 12px),-webkit-linear-gradient(left, transparent 11px, #e3e3e3 12px);
    background: -moz-linear-gradient(top, transparent 11px, #e3e3e3 12px),-moz-linear-gradient(left, transparent 11px, #e3e3e3 12px);
    background: -o-linear-gradient(top, transparent 11px, #e3e3e3 12px),-o-linear-gradient(left, transparent 11px, #e3e3e3 12px);
    background: -ms-linear-gradient(top, transparent 11px, #e3e3e3 12px),-ms-linear-gradient(left, transparent 11px, #e3e3e3 12px);
    background: linear-gradient(top, transparent 11px, #e3e3e3 12px),linear-gradient(left, transparent 11px, #e3e3e3 12px);
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    background-size: 12px 12px;
	position:relative;overflow:hidden;
}
.GooFlow_work text{color:#fff;font-size:14px;line-height:1.42857143;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, sans-serif;}

.Gooflow_extend_right{position:absolute;z-index:10002;top:0;right:0;height:100%;width:14px;cursor:e-resize;filter:Alpha(Opacity=20);-moz-opacity:0.2;opacity: 0.2}
.Gooflow_extend_bottom{position:absolute;z-index:10002;bottom:0;left:0;width:100%;height:14px;cursor:s-resize;filter:Alpha(Opacity=20);-moz-opacity:0.2;opacity: 0.2}
.Gooflow_extend_right:hover{background-color:#999;border:#fff 1px solid}
.Gooflow_extend_bottom:hover{background-color:#999;border:#fff 1px solid}

.GooFlow_work_group{cursor:default;position:absolute;overflow:hidden;top:0;left:0}
.GooFlow_area{cursor:default;position:absolute;overflow:hidden;}
.GooFlow_area .lock{cursor:default;}
.GooFlow_area .bg{cursor:move;filter:Alpha(Opacity=30);-moz-opacity:0.3;opacity: 0.3;}
.GooFlow_area.lock .bg{cursor:default;}
.GooFlow_area label{cursor:text;top:0;left:23px;position:absolute;display:block;}
.GooFlow_area.lock label{cursor:default;}
.GooFlow_area i{top:2px;left:2px;width:18px;height:18px;position:absolute;cursor:pointer;}
.GooFlow_area i:before{content:"\e6bd"}
.GooFlow_area.area_red .bg{border:1px solid red;background-color:#FF7865}
.GooFlow_area.area_red label,.GooFlow_area.area_red i{color:red;}
.GooFlow_area.area_yellow .bg{border:1px solid #CD925A;background-color:#FFD564}
.GooFlow_area.area_yellow label,.GooFlow_area.area_yellow i{color:#FFBA1D;}
.GooFlow_area.area_blue .bg{border:1px solid #347BB1;background-color:#549CDE}
.GooFlow_area.area_blue label,.GooFlow_area.area_blue i{color:#347BB1;}
.GooFlow_area.area_green .bg{border:1px solid green;background-color:#84CA04}
.GooFlow_area.area_green label,.GooFlow_area.area_green i{color:green;}

.GooFlow_work svg{display:block;position:absolute;top:0;left:0}
.GooFlow_work v\:group{position:relative;display:block}
.GooFlow_work v\:group v\:line{overflow:visible}
.GooFlow_work v\:group v\:polyline{overflow:visible}
.GooFlow_work v\:group div{cursor:text;position:absolute;overflow:visible;display:inline;float:left;white-space: nowrap}
.GooFlow_work .draw{color:#ff8800}

.GooFlow_item{
	position:absolute;background:#A1DCEB;padding:1px;
	border-radius:3px;background-color:#C1DCFC;box-shadow:1px 1px 2px rgba(99,99,99,2);
}
.GooFlow table{padding:1px 2px;border-radius:2px}
.GooFlow td,.GooFlow td div{ vertical-align:middle;text-align:center;padding:0;cursor:default;word-wrap:break-word;word-break:break-all}
.GooFlow .ico{width:18px;cursor:move;text-align:center; vertical-align: middle;}
.GooFlow .ico i{color:#000;margin:0 auto;line-height:1.1;}

.GooFlow .item_round{border-radius:13px; overflow:visible}
.GooFlow .item_round table{border:0;padding:3px;width:26px;height:26px}
.GooFlow .item_round .span{
	display:block;text-align:center; position:absolute;top:100%;left:-100%;width:300%;overflow:visible;
	padding:0;cursor:default;word-wrap: break-word;word-break:break-all
}

.GooFlow .item_mix{background:#B6F700;color:#fff}
.GooFlow div .rs_right{overflow:hidden;position:absolute;right:-1px;top:-1px;height:100%;width:6px;cursor:w-resize}
.GooFlow div .rs_bottom{overflow:hidden;position:absolute;left:-1px;bottom:-1px;width:100%;height:6px;cursor:n-resize}
.GooFlow div .rs_rb{
	position:absolute;right:-1px;bottom:0;width:10px;height:9px;filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity:0.7;
	font-family:"iconflow" !important;font-size:12px;color:#475669;line-height:1;overflow:hidden;cursor:pointer;cursor:nw-resize;
}
.GooFlow div .rs_rb:before{content:"\e6b7";}
.GooFlow div .rs_close{
	position:absolute;right:-1px;top:1px;width:10px;height:9px;filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity:0.7;
	font-family:"iconflow" !important;font-size:12px;color:#475669;line-height:1;overflow:hidden;cursor:pointer;
}
.GooFlow div .rs_close:before{content:"\e674";}
.GooFlow .rs_ghost{
	position:absolute;display:none;overflow:hidden;border:#8492A6 1px dashed; background:#E5E9F2;
	filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index:10
}
.GooFlow .item_focus{border:#3892D3 1px solid !important;padding:0}
.GooFlow .item_focus table{margin:0 !important;}
.GooFlow .item_focus.item_round .span{
	display:block;text-align:center; position:absolute;margin-top:1px;overflow:visible;
	padding:0;cursor:default;word-wrap: break-word;word-break:break-all
}
.GooFlow .item_mark{border:#ff8800 2px solid;padding:0}
.GooFlow .item_mark table{margin:-1px}
.GooFlow .item_mark td{cursor:crosshair}
.GooFlow textarea{position:absolute;border:#3892D3 1px solid;display:none;overflow-y:visible;width:100px;z-index:10001}

.GooFlow .GooFlow_line_oper{
	width:82px;height:20px;background:#E5E9F2;border:#8492A6 1px solid;position:absolute;
	filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index:10000;
}

.GooFlow .GooFlow_line_mp{
	width:9px;height:9px;filter:Alpha(Opacity=40);-moz-opacity:0.4;opacity:0.4;overflow:hidden;
	position:absolute;z-index:9999;background:#333;cursor:crosshair
}

.GooFlow_linemove{background-color:transparent;filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity:0.5;overflow:hidden;position:absolute;z-index:9999;}
.GooFlow_line_oper i{display:inline-block;margin-left:2px;cursor:pointer;position:relative;}
.GooFlow .b_l1:before{content:"\e60d";color:#1F2D3D}
.GooFlow .b_l2:before{content:"\e60e";color:#1F2D3D}
.GooFlow .b_l3:before{content:"\e601";color:#1F2D3D}
.GooFlow .b_x:before{content:"\e61a";color:red}


/*以下为图标样式（固定大小18px*18px，矢量字体大小16px），用户可自定义扩展自己的新矢量图标字体，写法参照以下的内容*/
@font-face {font-family: "iconflow";
  src: url('fonts/iconflow.eot?t=1494321407539'); /* IE9*/
  src: url('fonts/iconflow.eot?t=1494321407539#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconflow.woff?t=1494321407539') format('woff'), /* chrome, firefox */
  url('fonts/iconflow.ttf?t=1494321407539') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconflow.svg?t=1494321407539#iconflow') format('svg'); /* iOS 4.1- */
}

.GooFlow_area i,.GooFlow .GooFlow_line_oper i,
.ico_cursor,.ico_start,.ico_end,.ico_decision,.ico_merge,.ico_direct,.ico_dashed,.ico_join,
.ico_groups,.ico_node,.ico_task,.ico_input,.ico_output,.ico_plug,.ico_menu,.ico_sound,
.ico_open,.ico_new,.ico_reload,.ico_save,.ico_undo,.ico_redo,.ico_print,.ico_java,
.ico_spark,.ico_shell,ico_parallel,ico_sort,ico_where,.ico_group,ico_sql,.ico_preview
.ico_saveCopy,.ico_execute,.ico_algorithm{
    font-family:"iconflow" !important;
    font-size:16px;line-height:19px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*.GooFlow .ico_cursor:before{ content:"\e602"; }*/
/*.GooFlow .ico_start:before{ content:"\e700"; }*/
/*.GooFlow .ico_end:before{ content:"\e609"; }*/
/*.GooFlow .ico_decision:before{ content:"\e60c"; }*/
/*.GooFlow .ico_merge:before{ content:"\e606"; }*/
/*.GooFlow .ico_direct:before{ content:"\e605"; }*/
/*.GooFlow .ico_dashed:before{ content:"\e675"; }*/
/*.GooFlow .ico_join:before{ content:"\e663";color: #00B4E1 }*/
/*e663*/
/*.GooFlow .ico_groups:before{ content:"\e872"; }*/
/*.GooFlow .ico_node:before{ content:"\e678"; }*/
/*.GooFlow .ico_task:before{ content:"\e6af"; color: #080808}*/
/*.GooFlow .ico_input:before{ content:"\e61b"; color: #2b542c}*/
/*.GooFlow .ico_output:before{ content:"\e633"; color: #d0e9c6}*/
/*.GooFlow .ico_plug:before{ content:"\e66c"; color: #FF7865}*/
.GooFlow .ico_menu:before{ content:"\e649"; color: #d0e9c6}
.GooFlow .ico_sound:before{ content:"\e62b";color: #8a6d3b }
.GooFlow .ico_cursor {
    background: url(../../images/arrow.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_direct {
    background: url(../../images/shixian.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_dashed {
    background: url(../../images/xuxian.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_start{
    background: url(../../images/kaishi.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_end {
    background: url(../../images/jieshu.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_task {
    background: url(../../images/btn_icon_sum.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_node {
    background: url(../../images/btn_pingjunshu.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_input {
    background: url(../../images/biaoshuchu.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_output {
    background: url(../../images/biaoshuru-.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_plug {
    background: url(../../images/zonghangshu.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_merge {
    background: url(../../images/hebing.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_decision {
    background: url(../../images/fenzhi.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_groups {
    background: url(../../images/btn_fenzu.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_java {
    background: url(../../images/java.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_shell {
    background: url(../../images/shengchengSQL.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_spark {
    background: url(../../images/spark.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_group {
    background: url(../../images/guanlian.png) no-repeat center;
    background-size: 18px 18px;
}
.GooFlow .ico_parallel {
    background: url(../../images/bingxing.png) no-repeat center;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
}
.GooFlow .ico_sort{
    background: url(../../images/btn_paixu.png) no-repeat center;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
}
.GooFlow .ico_where{
    background: url(../../images/btn_guolv.png) no-repeat center;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
}
.GooFlow .ico_join{
    background: url(../../images/join.png) no-repeat center;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
}
.GooFlow .ico_algorithm{
    background: url(../../images/shell.png) no-repeat center;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
}

/*以下是内部用头部工具栏的样式*/
.GooFlow .ico_open:before{ content:"\e7a0";color:#FFD300 }
.GooFlow .ico_new{
    background: url(../../images/xinjian.png) no-repeat center;
    background-size: 16px 18px;
}
.GooFlow .ico_reload{
    background: url(../../images/icon_fresh.png) no-repeat center;
    background-size: 16px 18px;
}
.GooFlow .ico_undo{
    background: url(../../images/icon_prev.png) no-repeat center;
    background-size: 16px 18px;
}
.GooFlow .ico_redo{
    background: url(../../images/icon_next.png) no-repeat center;
    background-size: 16px 18px;
}
.GooFlow .ico_print{
    background: url(../../images/dayin.png) no-repeat center;
    background-size: 16px 18px;
}
.GooFlow .ico_save{
    background: url(../../images/save.png) no-repeat center;
    background-size: 16px 18px;
}
.GooFlow .ico_sql{
    background: url(/../../images/shengchengSQL.png) no-repeat center;
    background-size: 16px 18px;
}
.GooFlow .ico_preview{
    background: url(../../images/icon_preview.png) no-repeat center;
    background-size: 20px 20px;
}
.GooFlow .ico_saveCopy{
    background: url(/../../images/save_copy.png) no-repeat center;
    background-size: 16px 18px;
}
.GooFlow .ico_execute{
    background: url(/../../images/execute.png) no-repeat center;
    background-size: 16px 18px;
}